@tailwind base;
@tailwind components;
@tailwind utilities;

/* Terminal scrollbar */
.xterm-viewport::-webkit-scrollbar {
  width: 8px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.xterm-viewport::-webkit-scrollbar-track {
  background: transparent;
}